body {
    background: url('San_Francisco–Oakland_Bay_Bridge-_New_and_Old_bridges.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }