extends base-layout

block content

    section
        div(class="container")
            div(class="row")
                div(class="col-lg-6")  
                    h1(class="mt-2")                    
                    img(src=illustration_url)           
                    h1(class="mt-5 text-center") Big Data Inteligência na Gestão dos Dados
                    p("text-justify") Este portal foi desenvolvido com a finalidade de apoiar o desenvolvimento do projeto de 
                        |monografia apresentado ao Programa de Educação Continuada em Engenharia da Escola Politécnica da Universidade de São Paulo, 
                        |para a obtenção do título de Especialista em Big Data.                    
