doctype html
html
  head
    title= `${title}`
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")

    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/the-big-picture.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/js/bootstrap.min.js')   

body
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom")
        div(class="container")
            a(class="navbar-brand", href="#") Marku Vinícius da Silva - 9586525@usp.com.br
            button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label,="Toggle navigation")
                span(class="navbar-toggler-icon")
        
            div(class="collapse navbar-collapse", id="navbarResponsive")
                ul(class="navbar-nav ml-auto")
                    li(class="nav-item active")
                        a(class="nav-link", href="#") Home
                            span(class="sr-only") (current)

                    li(class="nav-item")
                        a(class="nav-link", href="#") About

                    li(class="nav-item")
                        a(class="nav-link", href="#") Services
            
                    li(class="nav-item")
                        a(class="nav-link", href="#") Contact

    section
        div(class="container")
            div(class="row")
                div(class="col-lg-6")  
                    h1(class="mt-5") The Big Picture
                    p("text-justified") Este portal foi desenvolvido com a finalidade de apoiar o desenvolvimento do projeto de 
                        |monografia apresentado ao Programa de Educação Continuada da Escola Politécnica da Universidade de São Paulo, 
                        |para a obtenção do título de Especialista, pelo Programa de Pós-Graduação em Big Data - Inteligência na Gestão dos Dados.                    

                div(class="col-lg-6")  
                    img(src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjD9K2V0dnfAhWGiJAKHYhqAlMQjRx6BAgBEAU&url=https%3A%2F%2Fpecepoli.com.br%2FPT%2F&psig=AOvVaw3d_0PjNPmru7auSlLIuVaq&ust=1546880497826884",
                        class="img-fluid rounded mx-auto d-block",                        
                    )                   
          
    <!-- Bootstrap core JavaScript -->
    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")